<h1>New Vendor</h1>
<fieldset>
  <%= form_for @vendor do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :website %>
    <%= f.text_field :website %>
    <%= f.submit %>
  <% end %>
</fieldset>