<!--<% @shirts.each do |shirt| %>
  <section>
    <h3><%= shirt.name %></h3>
    <h4><%= shirt.description %></h4>
    <%= link_to image_tag(shirt.image), shirt %>
  </section>
<% end %>-->

<div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <%= link_to image_tag(Shirt.first.image), shirt_path(Shirt.first) %>
          <div class="container">
            <div class="carousel-caption">
              <h1><%= Shirt.first.name %></h1>
            </div>
          </div>
        </div>
        <div class="item">
          <%= link_to image_tag(Shirt.last.image), shirt_path(Shirt.last) %>
          <div class="container">
            <div class="carousel-caption">
              <h1><%= Shirt.last.name %></h1>
            </div>
          </div>
        </div>
        <div class="item">
          <%= link_to image_tag(Shirt.all[1].image), shirt_path(Shirt.all[1]) %>
          <div class="container">
            <div class="carousel-caption">
              <h1><%= Shirt.all[1].name %></h1>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->